div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    /* @keyframes duration | easing-function | delay | name */
    animation: example 4s infinite;
    /* animation-duration: 4s; */
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }


  /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
/* animation: 3s ease-in 1s 2 reverse both paused slidein; */